{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
    <link rel="stylesheet" href={% static "css/calendar.css" %}>
    <script type="text/javascript" src={% static "js/calendar.js" %}></script>
{% endblock %}

{% block bodyBlock%}
    <div id="cal">
        <div class="header">
            <span class="left hook"></span>
            <span class="right hook"></span>
            <span class="left button" id="prev">  &lang; </span>
            <span class="right button" id="next"> &rang; </span>
            <div id="headerContent">
                <span class="month-year" id="label">{{ month }} 20{{ year }}</span><!--dynamically add month and year here-->
            </div>
        </div>
        <table id="days">
            <td>sun</td>
            <td>mon</td>
            <td>tue</td>
            <td>wed</td>
            <td>thu</td>
            <td>fri</td>
            <td>sat</td>
        </table>
        <div id="cal-frame">
            <table class="curr">
                <tbody id="calBody"><!--dynamically add the class date, and figure out the starting day of the the loop months days(usearray)-->
                <tr>
                    {% for i in fstDayOfMonth%}
                        <td class="nil"  ></td>
                    {% endfor %}
                    {% for i in leftOver %}
                            <td class="day" id="{{ day }}">{{ i }}</td>
                    {% endfor %}
                </tr>
                    {% for day in daysInMonth %}
                        {% if day == startingPoints.0 or day == startingPoints.1 or day == startingPoints.2 or day == startingPoints.3%}
                            <tr><td class="day" id="{{ day }}">{{ day }}</td>
                        {% elif day == endingPoints.0 or day == endingPoints.1 or day == endingPoints.2 or day == endingPoints.3%}
                            <td class="day" id="{{ day }}">{{ day }}</td></tr>
                        {% else  %}
                            <td class="day" id="{{ day }}">{{ day }}</td>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div id="popup_box">
                <h1>This is working!</h1>
                <a id="popupBoxClose">Close</a>
            </div>
        </div>
    </div>
{% endblock %}


