{% extends 'base.html' %}

{% load staticfiles %}

{% block titleBlock %} MyHealth {% endblock %}

{% block bodyBlock %}
    <div class="col-md-10">
        <h1><strong>Health Planner</strong></h1>
    </div>
    <div class="col-md-10">
        <h3> Your Weekly Calorie Count: xxx</h3>
    </div>
    <div class="col-md-10">
        <h3>Workout Plan This Week:</h3>
    </div>
    <div class="col-md-10">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thur</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                    <td>REST</td>
                    <td>bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                </tr>
                <tr>
                    <td> bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                    <td>REST</td>
                    <td>bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                </tr>
                <tr>
                    <td> bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                    <td>REST</td>
                    <td>bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                </tr>
                <tr>
                    <td> bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                    <td>REST</td>
                    <td>bicep curls 3x3</td>
                    <td>REST</td>
                    <td>tricep pulldowns 3x3</td>
                </tr>

            </tbody>
        </table>
    </div>

{% endblock %}