{% extends 'base.html' %}
{% load staticfiles %}
{% block titleBlock %} MyHealth {% endblock %}
<META http-equiv="Content-Script-Type" content="text/tcl">
{% block header %}
<!-- Is this neccessary? Needs Bootstrap -->
    <link rel="stylesheet" href={% static "css/calendar.css" %}>
    <script type="text/javascript" src={% static "js/calendar.js" %}></script>
<!-- Is this neccessary? Needs Bootstrap -->

<script language="Javascript">

</script>
{% endblock %}

{% block bodyBlock %}
    <div class="col-md-4">
        <h1><strong>Health Planner</strong></h1>
    </div>
    <div>
                <form action="/KAP/myhealth" method="post">
                    {% csrf_token %}
                        <table id="form_table">
                            {{ form.as_table }}
                        </table>
                    <input type="submit" value="Submit" />
                </form>
            </div>
{% endblock %}
