{% extends 'base.html' %}

{% block titleBlock %} UCF News and Events{% endblock %}

{% block bodyBlock %}
<div class="row">
    <div class="col-md-5">
        <h1>
            <strong>
                UCF Headlines & Events
            </strong>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Headlines</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Fire In Student Apartment</td>
                </tr>
                <tr>
                    <td> UCF Football Suffers Road Loss</td>
                </tr>
                <tr>
                    <td> CCDC Team Prepares To Win Third Consecutive Championship !</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Upcoming Event</th>
                    <th> Date & Time</th>
                    <th> Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Programming Team Tryouts </td>
                    <td> 9/22/2015</td>
                    <td> HEC 101 </td>
                    <td><button type="button" class="btn-primary"> Add Event</button> </td>
                </tr>
                <tr>
                    <td> Kayak Expedition </td>
                    <td> 9/26/2015</td>
                    <td> UCF Pond </td>
                    <td><button type="button" class="btn-primary"> Add Event</button> </td>
                </tr>
                <tr>
                    <td> 3 On 3 Basketball Tournament </td>
                    <td> 9/29/2015</td>
                    <td> UCF Gym </td>
                    <td><button type="button" class="btn-primary"> Add Event</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}