{% extends 'base.html' %}

{% block titleBlock %} UCF News and Events{% endblock %}

{% block bodyBlock %}
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="https://today.ucf.edu/widget/widget.js" type="text/javascript"></script>
<link href="https://today.ucf.edu/widget/style.css" type="text/css" rel="stylesheet"/>
<div class="row">
    <div class="col-md-5">
        <h1>
            <strong>
                UCF Headlines & Events
            </strong>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <table class="table table-hover">
            <tbody>
		<div class="today" data-url="https://today.ucf.edu/feed/" data-max="8" data-title="UCF Today"></div>
		<script type="text/javascript">
		$(".today").UCFtoday();
		</script>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
