{% extends 'base.html' %}
{% load staticfiles %}
{% block bodyBlock %}
    <div class="col-md-12">
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Workout Plan For {{ day }}-{{ month }}-{{ year }}</th>
          </tr>
          <tr>
              <th>{{ Workout.small_muscle }}</th>
            <td>3 x {{ Workout.s_ex }}</td>
          </tr>
          <tr>
              <th>{{ Workout.large_muscle }}</th>
              <td>3 x {{ Workout.l_ex }}</td>
          </tr>
            <tr>
                <th>Abs</th>
                <td>100 x sit-ups</td>
          </tr>
        </thead>
    </table>
    </div>
        <div class="col-md-2">
            <div class="btn btn-info btn-lg">
                <span id="plus" class="glyphicon glyphicon-plus"></span>
                Add Workout
            </div>
        </div>
{% endblock %}